<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home - Sansline Rest Api</title>
  <meta name="description"
    content="SanslineApi adalah Penyedia Rest Api gratis yang di khususkan untuk bot whatsapp dan platfrom yang serupa. kami menyediakan banyak fitur-fitur menarik  di rest api kami.">
  <meta name="author" content="SanslineApi">
  <meta name="keywords"
    content="Penyedia Rest Api Gratis, Rest api gratis, api gratis, api bot whatsapp, Rest Api Rest Api, Restful Api, SanslineApi, Penyedia Restful Api Gratis, Rest Api Bot WhatsApp, Rest Api Bot Discord, FAQ Rest Api, Cara mengunakan Rest api, Apa itu rest api, Fitur SanslineApi">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#9D00EC">
  <meta name="copyright" content="Aubert Dev.">
  <!-- Metatag Open Graph (OG) untuk media sosial -->
  <meta property="og:site_name" content="SanslineApi" />
  <meta property="og:title" content="Penyedia Rest Api Gratis | SanslineApi">
  <meta property="og:description"
    content="SanslineApi adalah Penyedia Rest Api gratis yang di khususkan untuk bot whatsapp dan platfrom yang serupa. kami menyediakan banyak fitur-fitur menarik  di rest api kami.">
  <meta property="og:image" content="https://telegra.ph/file/6487a3ece3602715b3aaa.png">
  <!-- URL gambar thumbnail situs Anda -->
  <meta property="og:url" content="https://sanslinedev.tech">
  <meta property="og:type" content="website">

  <!-- Metatag Twitter Card untuk Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@SanslineApi">
  <meta name="twitter:title" content="Penyedia Rest Api Gratis | SanslineApi">
  <meta name="twitter:description"
    content="SanslineApi adalah Penyedia Rest Api gratis yang di khususkan untuk bot whatsapp dan platfrom yang serupa. kami menyediakan banyak fitur-fitur menarik  di rest api kami.">
  <meta name="twitter:image" content="https://telegra.ph/file/6487a3ece3602715b3aaa.png">
  <!-- URL gambar thumbnail situs Anda -->

  <!-- Favicons -->
  <link href="../assets/img1/favicon.png" rel="icon">
  <link href="../assets/img1/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor1/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor1/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor1/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../assets/vendor1/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor1/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/vendor1/aos/aos.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="../assets/css1/main.css" rel="stylesheet">

  <!--
    Name      : SanslineApi Restful Api
    Version   : 3.0
    Date      : Juli 17, 2023
    Type      : Homepage
    Project   : SanslineApi
    Team      : Aubert Dev
    Website   : https://clayzaaubert.my.id
    Shared By : https://sanslinedev.tech
    ============================================================================
    NOTE :
    HAYOO NGAPAIN F12...
    Tema Khusus SanslineApi Rest Api. 
    Warning!! Keselurahan Program di Script Ini berjalan otomatis tanpa campur tangan owner,
    beserta keamanan berlapis seperti kue lapis (pengenya kue bolu) yang dapat menghancurkan 
    seluruh file jika owner lupa memperpanjang masa aktif website ini, jadi hubungi owner jika ada eror.
    Penyedia Rest Api Dengan Fitur2 Menarik yang dapat anda aplikasikan di project anda.
    Youtube channel https://youtube.com/c/ClayzaAubert
    ============================================================================-->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../assets/img1/logo4.png" alt="logo">
        <h1>SanslineApi</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#service">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="/example-code">Example</a></li>
          <li><a class="get-a-quote" href="/login">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Sansline Rest Api</h2>
          <p data-aos="fade-up" data-aos-delay="100">Kami penyedia layanan REST API gratis yang
            dapat Anda manfaatkan untuk berbagai keperluan Anda. Versi gratis kami memiliki batasan permintaan setiap
            harinya, namun kami juga menyediakan versi premium yang tidak memiliki batasan harian. REST API kami telah
            dirancang secara khusus untuk memenuhi kebutuhan bot WhatsApp, Discord, dan Telegram Anda. Melalui URL
            Endpoint yang disediakan, kami menyajikan data dengan efisien dan andal, memberikan Anda akses mudah dan
            cepat ke berbagai informasi yang Anda perlukan.</p>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="271" data-purecounter-duration="1"
                  class="purecounter" id="visitor-counter"></span>
                <p>Visitor</p>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="873" data-purecounter-duration="1"
                  class="purecounter" id="req-counter"></span>
                <p>Requests</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1"
                  class="purecounter" id="client-counter"></span>
                <p>Client</p>
              </div>
            </div><!-- End Stats Item -->

            <!-- <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="164" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Features</p>
              </div>
            </div> -->
            <!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="../assets/img1/7100345-removebg-preview.png" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-server"></i></div>
            <div>
              <h4 class="title">Uptime 24/7</h4>
              <p class="description">Uptime 24/7
                Layanan kami aktif 24/7, dan jika terjadi kesalahan signifikan, kami akan melakukan pemeliharaan
                sementara untuk memastikan kualitas dan keandalan layanan kami.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-computer"></i></div>
            <div>
              <h4 class="title">Performance Monitoring</h4>
              <p class="description">kami akan secara berkala memantau kinerja sistem dan pemeliharaan sesuai kebutuhan,
                sehingga Anda dapat mengunakan layanan kami dengan lancar.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-heart-pulse"></i></div>
            <div>
              <h4 class="title">24/7 Help & Support</h4>
              <p class="description">Kami menyediakan bantuan dan dukungan sepanjang waktu, sehingga Anda dapat
                menghubungi kami kapan saja, untuk membantu menyelesaikan masalah Anda.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="../assets/img1/sansline.png" class="img-fluid" alt="">
            <a href="https://youtu.be/ACNIrkpZcJE?feature=shared" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              Kami akan terus menambahkan fitur-fitur menarik untuk di terapkan di rest api kami, berikut adalah video
              dari bot WhatsApp saya.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Fix Eror</h5>
                  <p>Kami akan secepatnya melakukan fix Eror, Jika ada eror yang cukup signifikan kami akan melakukan
                    Maintenance untuk beberapa saat</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Source Code Bot WhatsApp</h5>
                  <p>kami memiliki source code untuk bot
                    WhatsApp anda dapat mengambilnya di channel Youtube <a rel="nofollow"
                      href="https://www.youtube.com/@sanslineproject target="_blank">sanslinedev</a></p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Report Eror</h5>
                  <p>Silakan laporkan kepada admin jika terdapat fitur rest api yang eror.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Features Populer</span>
          <h2>Features Populer </h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="../assets/img1/GPT.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Artificial Intelligence</a></h3>
              <p>Kami menyediakan Fitur CharacterAI, ChatGpt, BardAI, BingAI yang dapat anda langsung anda gunakan di
                project anda mengunakan URL Endpoint.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="../assets/img1/text2img.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Diffusion</a></h3>
              <p>Fitur ini adalah fitur untuk mengubah text menjadi Image terdapat banyak model di Rest Api kami.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="../assets/img1/Downloader.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Downloader</a></h3>
              <p>Kami juga menyediakan fitur unduhan yang dapat anda gunakan untuk mengunduh, Tiktok, instagram,
                facebook, twitter, Youtube, dll.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="../assets/img1/anime.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Anime</a></h3>
              <p>Fitur Anime ini dapat mengambil informasi, seperti last update pada website anime, informasi anime,
                Anime populer, dll.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="../assets/img1/Comic.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Comics</a></h3>
              <p>Fitur ini tidak jauh beda dengan fitur anime, hanya saja ini mengambil informasi seputar komik seperti
                manga, manhwa, manhua.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="../assets/img1/others.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Others</a></h3>
              <p>Masih banyak fitur-fitur kami yang dapat anda gunakan, silakan login ke dashboard kami untuk melihat
                lebih banyak features.</p>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Pricing</span>
          <h2>Pricing</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Free Plan</h3>
              <h4><sup>Rp</sup>0<span> / Years</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Aktif Selamanya</li>
                <li><i class="bi bi-check"></i> 100 permintaan</li>
                <li class="na"><i class="bi bi-x"></i> <span>Fitur Premium</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Costum Api Key</span></li>
              </ul>
              <a href="https://sanslinedev.tech/signup" class="buy-btn">Daftar</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Gold Plan</h3>
              <h4><sup>Rp</sup>15.000<span> /2 Month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Aktif Selama 2 Bulan</li>
                <li><i class="bi bi-check"></i> Unlimited permintaan</li>
                <li><i class="bi bi-check"></i> Fitur Premium</li>
                <li><i class="bi bi-check"></i> Costum Api Key</li>
              </ul>
              <a href="https://sanslinedev.tech/buypremium" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Silver Plan</h3>
              <h4><sup>Rp</sup>10.000<span> / Month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Aktif Selama 1 Bulan</li>
                <li><i class="bi bi-check"></i> Unlimited permintaan</li>
                <li><i class="bi bi-check"></i> Fitur Premium</li>
                <li><i class="bi bi-check"></i> Costum Api Key</li>
              </ul>
              <a href="https://sanslinedev.tech/buypremium" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Frequently Asked Questions</span>
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    Bagaimana jika saya melebihi batasan permintaan API Gratis?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Kami sudah mesetting API Gratis hanya mendaptkan 10 permintaan setiap harinya, Jika tidak ingin ada
                    batasan permintaan silakan upgrade ke Premium
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Bagaimana cara melindungi API dari penyalahgunaan?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Kami memberikan api key sebagai kunci untuk dapat mengakses fitur kami, jadi jangan sebarkan api key
                    anda kepada publik
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Apakah API Gratis memiliki masa berlaku?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    TIDAK, Api gratis tidak memeliki masa berlaku, selagi platfrom kami masih berjalan Api kalian akan
                    terus ada dan aktif.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    Apakah ada dukungan teknis untuk pengguna API Gratis?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Dukungan teknis untuk pengguna API Gratis lebih terbatas daripada versi berbayar. Anda dapat mencari
                    dukungan melalui forum komunitas atau sumber daya online yang tersedia.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    Apa yang membedakan REST API Gratis dari versi berbayar?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Versi berbayar API kami menawarkan jumlah permintaan yang lebih banyak dari pada API gratis.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-6">
                    <i class="bi bi-question-circle question-icon"></i>
                    Bagaimana cara membeli APIKEY Premium?
                  </button>
                </h3>
                <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Kalian bisa menghubungi saya via whatsapp, untuk pembayaran menggunakan DANA, OVO (Tidak menyediakan QRIS).
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>SanslineApi</span>
          </a>
          <p>Kami adalah Penyedia rest api gratis, yang dapat anda gunakan untuk memenuhi kebutuhan di project anda.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://wa.me/6282218700162" class="facebook"><i class="bi bi-whatsapp"></i></a>
            <a href="https://instagram/SanslineApi" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@sanslineproject class="youtube"><i class="bi bi-youtube"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Blog</h4>
          <ul>
            <li><a href="/apa-itu-restapi">Apa itu Rest api?</a></li>
            <li><a href="/apa-itu-endpoint">Apa itu Url Endpoint?</a></li>
            <li><a href="/cara-kerja-rest-api">Cara kerja rest api?</a></li>
            <li><a href="/example-code">Cara Mengunakanya?</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Email:</strong>sanslinedev@gmail.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        <span id="copyright11">
        </span>
      </div>
      <div class="credits">
        <span id="project"></span>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script>
    // Fungsi untuk mengambil data dari URL
    async function fetchData(url) {
      try {
        const response = await fetch(url);
        const data = await response.json();
        return data;
      } catch (error) {
        console.error("Error fetching data:", error);
        return null;
      }
    }

    // // Fungsi untuk mengubah nilai span
    // async function updateClientCounter() {
    //   const apiUrl = "https://sanslinedev.tech/visitor";
    //   const clientCounterSpan = document.getElementById("visitor-counter");

    //   // Mengambil data dari URL
    //   const data = await fetchData(apiUrl);

    //   // Mengganti nilai data-purecounter-end dengan data yang diambil jika data tersedia
    //   if (data && data.aubertify) {
    //     clientCounterSpan.setAttribute("data-purecounter-end", data.aubertify);
    //   }
    // }

    // // Memanggil fungsi untuk mengubah nilai span
    // updateClientCounter();

    // Fungsi untuk mengambil data dari URL
    async function fetchData(url) {
      try {
        const response = await fetch(url);
        const data = await response.json();
        return data;
      } catch (error) {
        console.error("Error fetching data:", error);
        return null;
      }
    }

    // Fungsi untuk mengubah nilai span
    async function updateClientCounter2() {
      const apiUrl = "https://sanslinedev.tech/getTotalUsers";
      const clientCounterSpan = document.getElementById("client-counter");

      // Mengambil data dari URL
      const data = await fetchData(apiUrl);

      // Mengganti nilai data-purecounter-end dengan data yang diambil jika data tersedia
      if (data && data.totalUsers) {
        clientCounterSpan.setAttribute("data-purecounter-end", data.totalUsers);
      }
    }

    // Memanggil fungsi untuk mengubah nilai span
    updateClientCounter2();

    // Fungsi untuk mengambil data dari URL
    async function fetchData(url) {
      try {
        const response = await fetch(url);
        const data = await response.json();
        return data;
      } catch (error) {
        console.error("Error fetching data:", error);
        return null;
      }
    }

    // Fungsi untuk mengubah nilai span
    async function updateClientCounter3() {
      const apiUrl = "https://sanslinedev.tech/total-requests";
      const clientCounterSpan = document.getElementById("req-counter");

      // Mengambil data dari URL
      const data = await fetchData(apiUrl);

      // Mengganti nilai data-purecounter-end dengan data yang diambil jika data tersedia
      if (data && data.apiRequests) {
        clientCounterSpan.setAttribute("data-purecounter-end", data.apiRequests);
      }
    }

    // Memanggil fungsi untuk mengubah nilai span
    updateClientCounter3();
  </script>
  <script src="../assets/vendor1/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor1/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor1/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor1/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor1/aos/aos.js"></script>
  <script src="../assets/vendor1/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js1/main.js"></script>
</body>

</html>